main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0;
  margin: 1rem 0;
}

app-square {
  height: 100px;
}

button {
  cursor: pointer;
}

.blurred {
  opacity: 50%;
  pointer-events: none;
}

.attention {
  color: darkred;
}
